.hamburger {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	grid-column: 4 / span 2;

	@include tablet-small {
		grid-column: 6 / span 4;
	}

	@include desktop-small {
		display: none;
	}

	.buns {
		width: 35px;
		height: 22px;
	    display: flex;
	    align-items: center;

		.patty {
		    width: 35px;
		    height: 2px;
		    background: $black;
		    border-radius: 2px;
		    margin-left: auto;
		    transition: all 0.2s;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 35px;
			    height: 2px;
			    background: $black;
			    position: absolute;
			    z-index: 1;
			    border-radius: 2px;
			    transition: all 0.2s;
			}

			&:before {
			    top: -8px;
			}

			&:after {
			    top: 8px;
			}
		}
	}
}