.internet-explorer {

    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;

    @include desktop-medium {
        padding: 2rem 0;
    }

    .banner {
        padding: 1rem;
        background: #FFFBE6;
        text-align: center;
        
        p {
            font-weight: bold;
        }
    }


}