.page-header {
	padding: 25px 0;
	/*
	position: sticky;
	top: 0;
	z-index: 100;
	*/

	h1 {
		font-weight: bold;
		font-size: 1.25rem;
		padding-bottom: 5px;

		@include desktop-small {
			font-size: 1.5rem;
		}
	}

	h2 {
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 0.6875rem;

		@include desktop-small {
			font-size: 0.75rem;
		}
	}
}