.site-nav {
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease;

	@include desktop-small {
		max-height: unset;
		overflow: unset;
		grid-column: 4 / span 10;

		.main-nav {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;			
		}
	}

	.nav-item {
		padding: 1rem 0;

		@include desktop-small {
			padding: 1rem;
		}
	}

	.sub-nav {
		max-height: 0;
		overflow: hidden;
		display: none;
		transition: all 0.3s ease;
	}	

	.sub-link {
		padding: 0.5rem 0;

		a {
			display: flex;
			align-items: center;

			&:hover {
				text-decoration: underline;
			}

			.icon {
				width: 20px;
				height: 20px;
				margin-right: 10px;
				display: flex;
				align-items: center;

				img {
					width: 100%;
					max-width: 20px;
					height: 100%;
					max-height: 20px;
				}
			}
		}
	}

	.dropdown {
		&:hover {
			cursor: pointer;
		}

		.top-level-link {
			position: relative;

			&:after {
				content: '';
				display: block;
				width: 12px;
				height: 6px;
				background-image: url(images/icon-dropdown-arrow.svg);
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: 100%;
				position: absolute;
				right: -18px;
				top: 6px;
			}
		}

		&:hover {
			.sub-nav {
				display: block;
				max-height: unset;
				overflow: unset;
				position: absolute;
				top: 40px;
				z-index: 200;
				background: $white;
				padding: 20px;
				width: 220px;
			}
		}
	}
}