body.nav-open {

	.hamburger {
		.buns {
			.patty {
				background: none;
				
				&:before {
					top: 0;
					transform: rotate(-45deg);
				}

				&:after {
				   top: 0;
				   transform: rotate(45deg);
				}
			}
		}
	}

	.site-nav {
		max-height: unset;
		padding-top: 2rem;
		overflow: unset;
	}
}