.full-width-photo {
	.photo {
		@include grid-column(2 / span 8, 3 / span 10);
		@include aspect-ratio(996, 388);
		@include cover-fill-image;
	}

	.info {
		padding-top: 2rem;
		@include grid-column(2 / span 8, 3 / span 10);

		@include tablet {
			display: grid;
			gap: 0 2rem;
			grid-template-columns: repeat(8, 1fr);
		}

		@include desktop-small {
			grid-template-columns: repeat(10, 1fr);
		}

		.headline {
			@include grid-column(1 / span 3, 1 / span 4);
		}

		.info-content {
			@include grid-column(4 / span 5, 5 / span 6);
		}
	}
}