.grid {
	display: grid;
	gap: 0 2rem;
	grid-template-columns: minmax(0, auto) repeat(4, minmax(auto,  1fr)) minmax(0, auto);
		
	& > * {
		grid-column: 2 / span 4;
	}

	@include tablet-small {
		grid-template-columns: minmax(0, auto) repeat(8, minmax(auto,  1fr)) minmax(0, auto);
		
		& > * {
			grid-column: 2 / span 8;
		}
	}

	@include desktop-small {
		grid-template-columns: minmax(0, auto) repeat(12, minmax(auto,  71px)) minmax(0, auto);
		
		& > * {
			grid-column: 2 / span 12;
		}
	}
}

.sub-grid {
	display: grid;
	gap: 0 2rem;
	grid-template-columns: repeat(4, minmax(auto,  1fr));
		
	& > * {
		grid-column: 1 / span 4;
	}

	@include tablet-small {
		grid-template-columns: repeat(8, minmax(auto,  1fr));
		
		& > * {
			grid-column: 1 / span 8;
		}
	}

	@include desktop-small {
		grid-template-columns: repeat(12, minmax(auto,  71px));
		
		& > * {
			grid-column: 1 / span 12;
		}
	}
}