.impacts-grid {

	.info {
		@include grid-column(2 / span 5, 3 / span 6);
	}


	.icons {
		@include grid-column(7 / span 3, 9 / span 4);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding-top: 2rem;

		@include tablet-small {
			padding-top: 0;
			grid-template-columns: repeat(1, 1fr);
		}

		@include desktop-small {
			grid-template-columns: repeat(2, 1fr);
			width: 100%;
		}

		.impact {
			padding: 1rem 0;

			@include desktop-small {
				padding: 2rem 0;

				border-bottom: 2px solid $black;

				&-1,
				&-3,
				&-5 {
					border-right: 2px solid $black;
				}


				&-1,
				&-2 {
					padding-top: 0;
				}

				&-5,
				&-6 {
					border-bottom: none;
					padding-bottom: 0;
				}
			}


			a {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;

				&:hover {
					text-decoration: none;
				}

				span {
					display: block;

					&.icon {
						max-width: 3rem;

						img {
							height: 3rem;
						}
					}

					&.label {
						padding-top: 0.5rem;

						@include desktop-small {
							padding: 0.5rem 1.5rem 0 1.5rem;
						}
					}
				}
			}
		}
	}
}