.site {
	border-top: 24px solid $charcoal;
	background: #F7F9FB;
}

.site-content {
	min-height: 100vh;
}

@import "grid";

@import "left-skinny-photo";

@import "full-width-photo";

@import "impacts-grid";