.left-skinny-photo {

	.photo {
		@include grid-column(2 / span 4, 3 / span 4);

		@include aspect-ratio(382, 580);
		@include cover-fill-image;
	}

	.info {
		padding-top: 2rem;
		@include grid-column(6 / span 4, 7 / span 6);

		@include tablet-small {
			padding-top: 0;
		}
	}
}