.arcgis.impact-section {

	.interactive {
		grid-column: 1 / -1;
		padding: 0 32px;
		@include aspect-ratio(4, 3);

		iframe {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.caption {
			padding-top: 10px;
		}
	}

	.copy {
		padding-top: 60px;

		@include tablet {
			columns: 2;
			column-gap: 32px;

			& > * {
				display: inline-block;
			}
		}

		p {
			margin-bottom: 30px;
			padding: 0;
		}
	}
}