.audio.impact-section {

	.copy {
		@include desktop-small {
			grid-column: 2 / span 6;
		}
	}

	.audio-files {
		padding-top: 50px;

		@include desktop-small {
			padding-top: 0;
			grid-column: 9 / span 5;
		}

		.file  {
			display: grid;
			gap: 0 2rem;
			grid-template-columns: repeat(4, minmax(auto,  1fr));

			@include tablet-small {
				grid-template-columns: repeat(8, minmax(auto,  1fr));
			}

			@include desktop-small {
				grid-template-columns: repeat(5, minmax(auto,  71px));
			}

			& + .file {
				margin-top: 2rem;
				border-top: 1px solid $black;
				padding-top: 2rem;
			}
		}

		.player {
			grid-column: 1 / span 1;

			@include tablet-small {
				grid-column: 1 / span 2;
			}

			@include desktop-small {
				grid-column: 1 / span 1;
			}
		}

		.info {
			grid-column: 2 / span 3;

			@include tablet-small {
				grid-column: 3 / span 6;
			}

			@include desktop-small {
				grid-column: 2 / span 4;
			}

			.headline {
				padding-bottom: 10px;
			}
		}

	}







	.sc_player_container1 .myButton_play,
	.sc_player_container1 .myButton_stop {
		width: 71px !important;
		height: 71px !important;
		background: $black !important;
		border-radius: 50%;

		&:focus,
		&:active {
			outline: none;
		}
	}

	.sc_player_container1 .myButton_play {
		background-image: url(images/icon-play-white.svg) !important;
		background-repeat: no-repeat !important;
		background-position: 27px 24px !important;
		background-size: 24px 24px !important;
	}


	.sc_player_container1 .myButton_stop {
		background-image: url(images/icon-pause-white.svg) !important;
		background-repeat: no-repeat !important;
		background-position: 24px 24px !important;
		background-size: 24px 24px !important;
	}





}