.gallery.impact-section {

	.copy {
		@include desktop-small {
			grid-row: 2;
			grid-column: 2 / span 5;
		}
	}

	.photo-gallery {
		@include desktop-small {
			grid-column: 8 / span 6;
		}

		.gallery-columns-3 {
			display: grid;
			gap: 2rem;
			grid-template-columns: repeat(3, 1fr);
		}

		.gallery-item {
			@include aspect-ratio(1, 1);
			@include cover-fill-image;

			.gallery-icon {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			a {
				display: block;
				width: 100%;
				height: 100%;
			}

			img {
				border-radius: 3px;
				box-shadow:  0 0 8px rgba(0, 0, 0, 0.1);
			}
		}
	}
}

.jp-carousel-info,
.jp-carousel-left-column-wrapper {
	display: none;
}

.jp-carousel-overlay {
	opacity: 0.98 !important;
}

.jp-carousel-close-hint span {
	font-size: 48px !important;
	height: 48px;
}