.impact-section {
	padding: 50px 0;

	@include tablet {
		padding: 100px 0;
	}

	@include desktop-medium {
		padding: 150px 0;
	}

	.section-header {
		padding-bottom: 40px;

		@include desktop-medium {
			grid-column: 2 / span 8;
		}

		h4 {
			padding-bottom: 10px;
		}

		h2 {
			line-height: 1.25em;
		}
	}

	.footnotes {
		border-top: 2px solid;
		padding-top: 10px;
		padding-right: 25px;
	}
}