.key-findings.impact-section {

	.photo {
		@include aspect-ratio(4, 3);
		@include cover-fill-image;

		@include tablet {
			grid-column: 2 / span 4;
			@include aspect-ratio(3, 5);
		}

		@include desktop-small {
			grid-column: 3 / span 4;
		}
	}

	.info {
		padding-top: 25px;

		@include tablet {
			grid-column: 6 / span 4;
		}

		@include desktop-small {
			padding-top: 50px;
			grid-column: 7 / span 6;
		}

		a {
			text-decoration: underline;
		}

		ul {
			list-style-type: none;
			padding-left: 2rem;

			li {
				padding-left: 1.5rem;
				position: relative;

				@include tablet {
					font-size: 1rem;
				}

				@include desktop-medium {
					font-size: 1.375rem;
				}

				&:before {
					content: '';
					width: 0.5rem;
					height: 0.5rem;
					border-radius: 50%;
					display: block;
					background: $black;
					position: absolute;
					top: 11px;
					left: 0;
				}

				& + li {
					margin-top: 1.25rem;
					padding-top: 0;
				}
			}
		}
	}

}