.map.impact-section {

	.interactive {
		@include aspect-ratio(4, 3);

		@include desktop-small {
			grid-column: 4 / span 10;
		}

		iframe {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.copy {
		.credit {
			padding-bottom: 1rem;
		}

		@include desktop-small {
			grid-column: 2 / span 2;
			grid-row: 2;
			font-size: 1.125rem;
		}
	}
}