.three-column-text.impact-section {
	.copy {
		@include tablet {
			columns: 2;
			column-gap: 32px;

			& > * {
				display: inline-block;
			}
		}

		@include desktop-small {
			columns: 3;
		}

		p {
			margin-bottom: 30px;
			padding: 0;
		}
	}
}