.video.impact-section {

	.video-player {
		@include tablet {
			grid-column: 2 / span 5;
		}

		@include desktop-small {
			grid-column: 2 / span 9;
		}

		a {
			display: block;
			position: relative;

			&:after {
				display: block;
				content: '';
				background: url(images/video-play-btn.svg) no-repeat 0 0;
				background-size: 100%;
				position: absolute;
				z-index: 10;
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
				width: 96px;
				height: 96px;
				top: calc(50% - 48px);
				left: calc(50% - 48px);

				@include desktop-small {
					width: 124px;
					height: 124px;
					top: calc(50% - 62px);
					left: calc(50% - 62px);
				}
			}
		}

		.time {
			display: inline-block;
			position: absolute;
			z-index: 10;
			right: 10px;
			bottom: 10px;
			background: $white;
			color: $black;
			font-size: 0.875rem;
			padding: 10px;
		}
	}

	.copy {
		padding-top: 2rem;

		.credit {
			padding-bottom: 1rem;
		}

		@include tablet {
			padding-top: 0;
			grid-column: 7 / span 3;
			font-size: 1.125rem;
		}

		@include desktop-small {
			grid-column: 11 / span 3;
			font-size: 1.25rem;
		}

	}

}