@charset "UTF-8";
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1;
}

/* Links */
a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover, a:active {
  outline: none;
}

/* Typography */
abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 1em 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* Lists */
dd {
  margin: 0 0 0 40px;
}

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

/* Figure */
figure {
  margin: 0;
}

/* Forms */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative;
}

/* Border-Box */
* {
  box-sizing: border-box;
}

/* Responsive Image */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #000;
  transition: all 0.3s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.headline .h1 {
  font-size: 2.0736rem;
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .headline .h1 {
    font-size: calc( 2.0736rem + 0.2592 * ( ( 100vw - 768px) / 672 ) );
  }
}
@media (min-width: 1440px) {
  .headline .h1 {
    font-size: 2.3328rem;
  }
}
@media screen and (min-width: 768px) {
  .headline .h1 {
    font-size: 2.985984rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1440px) {
  .headline .h1 {
    font-size: calc( 2.985984rem + 0.373248 * ( ( 100vw - 768px) / 672 ) );
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .headline .h1 {
    font-size: 3.359232rem;
  }
}
.headline .h2 {
  font-size: 2.48832rem;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .headline .h2 {
    font-size: calc( 2.48832rem + 0.31104 * ( ( 100vw - 768px) / 672 ) );
  }
}
@media (min-width: 1440px) {
  .headline .h2 {
    font-size: 2.79936rem;
  }
}
.headline .h3 {
  font-size: 2.0736rem;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .headline .h3 {
    font-size: calc( 2.0736rem + 0.2592 * ( ( 100vw - 768px) / 672 ) );
  }
}
@media (min-width: 1440px) {
  .headline .h3 {
    font-size: 2.3328rem;
  }
}
.headline .h4 {
  font-size: 1.728rem;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .headline .h4 {
    font-size: calc( 1.728rem + 0.216 * ( ( 100vw - 768px) / 672 ) );
  }
}
@media (min-width: 1440px) {
  .headline .h4 {
    font-size: 1.944rem;
  }
}
.headline .h5 {
  font-size: 1rem;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .headline .h5 {
    font-size: calc( 1rem + 0.125 * ( ( 100vw - 768px) / 672 ) );
  }
}
@media (min-width: 1440px) {
  .headline .h5 {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 768px) {
  .headline .h5 {
    font-size: 1.44rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1440px) {
  .headline .h5 {
    font-size: calc( 1.44rem + 0.18 * ( ( 100vw - 768px) / 672 ) );
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .headline .h5 {
    font-size: 1.62rem;
  }
}
.headline .h6 {
  font-size: 1rem;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .headline .h6 {
    font-size: calc( 1rem + 0.125 * ( ( 100vw - 768px) / 672 ) );
  }
}
@media (min-width: 1440px) {
  .headline .h6 {
    font-size: 1.125rem;
  }
}

.p1 {
  font-size: 1.125rem;
  line-height: 1.375em;
}
@media screen and (min-width: 768px) {
  .p1 {
    font-size: 1.375rem;
  }
}
.p1 p + p {
  padding-top: 2rem;
}

.p2 {
  font-size: 1rem;
  line-height: 1.375em;
}
@media screen and (min-width: 768px) {
  .p2 {
    font-size: 1.25rem;
  }
}
.p2 > * + * {
  padding-top: 2rem;
}

.p3 {
  font-size: 0.875rem;
  line-height: 1.375em;
}
@media screen and (min-width: 768px) {
  .p3 {
    font-size: 1rem;
  }
}
.p3 p + p {
  padding-top: 1.5rem;
}

.p4 {
  font-size: 0.8125rem;
  line-height: 1.375em;
}
@media screen and (min-width: 768px) {
  .p4 {
    font-size: 0.875rem;
  }
}
.p4 p + p {
  padding-top: 1.5rem;
}

.copy a {
  text-decoration: underline;
}
.copy ul {
  list-style-type: disc;
}
.copy ol {
  list-style-type: decimal;
}
.copy ul, .copy ol {
  padding-left: 3rem;
}
.copy ul li + li, .copy ol li + li {
  padding-top: 1rem;
}
.copy blockquote {
  margin: 0;
  padding: 3rem;
}
.copy blockquote + * {
  padding-top: 0;
}
.copy blockquote p {
  padding-top: 0;
}
.copy blockquote p + p {
  padding-top: 1rem;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

#primary[tabindex="-1"]:focus {
  outline: 0;
}

.site {
  border-top: 24px solid #2a2a2a;
  background: #F7F9FB;
}

.site-content {
  min-height: 100vh;
}

.grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: minmax(0, auto) repeat(4, minmax(auto, 1fr)) minmax(0, auto);
}
.grid > * {
  grid-column: 2/span 4;
}
@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto);
  }
  .grid > * {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(12, minmax(auto, 71px)) minmax(0, auto);
  }
  .grid > * {
    grid-column: 2/span 12;
  }
}

.sub-grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
}
.sub-grid > * {
  grid-column: 1/span 4;
}
@media screen and (min-width: 480px) {
  .sub-grid {
    grid-template-columns: repeat(8, minmax(auto, 1fr));
  }
  .sub-grid > * {
    grid-column: 1/span 8;
  }
}
@media screen and (min-width: 992px) {
  .sub-grid {
    grid-template-columns: repeat(12, minmax(auto, 71px));
  }
  .sub-grid > * {
    grid-column: 1/span 12;
  }
}

.left-skinny-photo .photo {
  position: relative;
}
@media screen and (min-width: 480px) {
  .left-skinny-photo .photo {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  .left-skinny-photo .photo {
    grid-column: 3/span 4;
  }
}
.left-skinny-photo .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 151.832460733%;
}
.left-skinny-photo .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.left-skinny-photo .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.left-skinny-photo .info {
  padding-top: 2rem;
}
@media screen and (min-width: 480px) {
  .left-skinny-photo .info {
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  .left-skinny-photo .info {
    grid-column: 7/span 6;
  }
}
@media screen and (min-width: 480px) {
  .left-skinny-photo .info {
    padding-top: 0;
  }
}

.full-width-photo .photo {
  position: relative;
}
@media screen and (min-width: 480px) {
  .full-width-photo .photo {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  .full-width-photo .photo {
    grid-column: 3/span 10;
  }
}
.full-width-photo .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 38.9558232932%;
}
.full-width-photo .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.full-width-photo .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.full-width-photo .info {
  padding-top: 2rem;
}
@media screen and (min-width: 480px) {
  .full-width-photo .info {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  .full-width-photo .info {
    grid-column: 3/span 10;
  }
}
@media screen and (min-width: 768px) {
  .full-width-photo .info {
    display: grid;
    gap: 0 2rem;
    grid-template-columns: repeat(8, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .full-width-photo .info {
    grid-template-columns: repeat(10, 1fr);
  }
}
@media screen and (min-width: 480px) {
  .full-width-photo .info .headline {
    grid-column: 1/span 3;
  }
}
@media screen and (min-width: 992px) {
  .full-width-photo .info .headline {
    grid-column: 1/span 4;
  }
}
@media screen and (min-width: 480px) {
  .full-width-photo .info .info-content {
    grid-column: 4/span 5;
  }
}
@media screen and (min-width: 992px) {
  .full-width-photo .info .info-content {
    grid-column: 5/span 6;
  }
}

@media screen and (min-width: 480px) {
  .impacts-grid .info {
    grid-column: 2/span 5;
  }
}
@media screen and (min-width: 992px) {
  .impacts-grid .info {
    grid-column: 3/span 6;
  }
}
.impacts-grid .icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2rem;
}
@media screen and (min-width: 480px) {
  .impacts-grid .icons {
    grid-column: 7/span 3;
  }
}
@media screen and (min-width: 992px) {
  .impacts-grid .icons {
    grid-column: 9/span 4;
  }
}
@media screen and (min-width: 480px) {
  .impacts-grid .icons {
    padding-top: 0;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .impacts-grid .icons {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
.impacts-grid .icons .impact {
  padding: 1rem 0;
}
@media screen and (min-width: 992px) {
  .impacts-grid .icons .impact {
    padding: 2rem 0;
    border-bottom: 2px solid #000;
  }
  .impacts-grid .icons .impact-1, .impacts-grid .icons .impact-3, .impacts-grid .icons .impact-5 {
    border-right: 2px solid #000;
  }
  .impacts-grid .icons .impact-1, .impacts-grid .icons .impact-2 {
    padding-top: 0;
  }
  .impacts-grid .icons .impact-5, .impacts-grid .icons .impact-6 {
    border-bottom: none;
    padding-bottom: 0;
  }
}
.impacts-grid .icons .impact a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.impacts-grid .icons .impact a:hover {
  text-decoration: none;
}
.impacts-grid .icons .impact a span {
  display: block;
}
.impacts-grid .icons .impact a span.icon {
  max-width: 3rem;
}
.impacts-grid .icons .impact a span.icon img {
  height: 3rem;
}
.impacts-grid .icons .impact a span.label {
  padding-top: 0.5rem;
}
@media screen and (min-width: 992px) {
  .impacts-grid .icons .impact a span.label {
    padding: 0.5rem 1.5rem 0 1.5rem;
  }
}

.cta .btn {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 16px 8px 16px;
  transition: all 0.2s ease-in;
}
.cta .btn:hover {
  text-decoration: none;
}

.ba-slider {
  position: relative;
  overflow: hidden;
}
.ba-slider img {
  width: 100%;
  display: block;
  max-width: none;
}
.ba-slider .resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.ba-slider .handle {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  margin-left: -2px;
  background: rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
}
.ba-slider .handle:after {
  position: absolute;
  top: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  content: "⇔";
  color: white;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  line-height: 64px;
  background: #ffb800;
  /* @orange */
  border: 1px solid #e6a600;
  /* darken(@orange, 5%) */
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 60px 50px -30px #ffd466;
  /* lighten(@orange, 20%)*/
}
.ba-slider .handle.ba-draggable:after {
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  line-height: 50px;
  font-size: 30px;
}
.ba-slider .caption {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 300px;
  text-align: right;
}
@media screen and (min-width: 992px) {
  .ba-slider .caption {
    bottom: 2rem;
    right: 2rem;
    width: 360px;
  }
}

@media screen and (min-width: 992px) {
  .download-report {
    grid-column: 2/span 5;
  }
}
.download-report a {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px;
}
.download-report a span {
  display: block;
  color: #000;
}
.download-report a .meta {
  padding-left: 20px;
}
.download-report a .cta {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 5px;
}
.download-report a .details {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
.site-header {
  padding: 1rem 0;
}
.site-header .site-logo {
  grid-column: 2/span 1;
}
@media screen and (min-width: 480px) {
  .site-header .site-logo {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  .site-header .site-logo {
    grid-column: 2/span 2;
  }
}
.site-header .site-nav {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav {
    max-height: unset;
    overflow: unset;
    grid-column: 4/span 10;
  }
  .site-header .site-nav .main-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.site-header .site-nav .nav-item {
  padding: 1rem 0;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav .nav-item {
    padding: 1rem;
  }
}
.site-header .site-nav .sub-nav {
  max-height: 0;
  overflow: hidden;
  display: none;
  transition: all 0.3s ease;
}
.site-header .site-nav .sub-link {
  padding: 0.5rem 0;
}
.site-header .site-nav .sub-link a {
  display: flex;
  align-items: center;
}
.site-header .site-nav .sub-link a:hover {
  text-decoration: underline;
}
.site-header .site-nav .sub-link a .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.site-header .site-nav .sub-link a .icon img {
  width: 100%;
  max-width: 20px;
  height: 100%;
  max-height: 20px;
}
.site-header .site-nav .dropdown:hover {
  cursor: pointer;
}
.site-header .site-nav .dropdown .top-level-link {
  position: relative;
}
.site-header .site-nav .dropdown .top-level-link:after {
  content: "";
  display: block;
  width: 12px;
  height: 6px;
  background-image: url(images/icon-dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  position: absolute;
  right: -18px;
  top: 6px;
}
.site-header .site-nav .dropdown:hover .sub-nav {
  display: block;
  max-height: unset;
  overflow: unset;
  position: absolute;
  top: 40px;
  z-index: 200;
  background: #fff;
  padding: 20px;
  width: 220px;
}
.site-header .hamburger {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 4/span 2;
}
@media screen and (min-width: 480px) {
  .site-header .hamburger {
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  .site-header .hamburger {
    display: none;
  }
}
.site-header .hamburger .buns {
  width: 35px;
  height: 22px;
  display: flex;
  align-items: center;
}
.site-header .hamburger .buns .patty {
  width: 35px;
  height: 2px;
  background: #000;
  border-radius: 2px;
  margin-left: auto;
  transition: all 0.2s;
}
.site-header .hamburger .buns .patty:after, .site-header .hamburger .buns .patty:before {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  background: #000;
  position: absolute;
  z-index: 1;
  border-radius: 2px;
  transition: all 0.2s;
}
.site-header .hamburger .buns .patty:before {
  top: -8px;
}
.site-header .hamburger .buns .patty:after {
  top: 8px;
}

body.nav-open .hamburger .buns .patty {
  background: none;
}
body.nav-open .hamburger .buns .patty:before {
  top: 0;
  transform: rotate(-45deg);
}
body.nav-open .hamburger .buns .patty:after {
  top: 0;
  transform: rotate(45deg);
}
body.nav-open .site-nav {
  max-height: unset;
  padding-top: 2rem;
  overflow: unset;
}

.page-header {
  padding: 25px 0;
  /*
  position: sticky;
  top: 0;
  z-index: 100;
  */
}
.page-header h1 {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 5px;
}
@media screen and (min-width: 992px) {
  .page-header h1 {
    font-size: 1.5rem;
  }
}
.page-header h2 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.6875rem;
}
@media screen and (min-width: 992px) {
  .page-header h2 {
    font-size: 0.75rem;
  }
}

.internet-explorer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
@media screen and (min-width: 1280px) {
  .internet-explorer {
    padding: 2rem 0;
  }
}
.internet-explorer .banner {
  padding: 1rem;
  background: #FFFBE6;
  text-align: center;
}
.internet-explorer .banner p {
  font-weight: bold;
}

.site-footer {
  background: #2a2a2a;
  color: #fff;
  padding: 50px 0;
}
@media screen and (min-width: 992px) {
  .site-footer {
    padding: 100px 0;
  }
}
.site-footer a {
  color: #fff;
}
.site-footer .site-info {
  padding-bottom: 50px;
  display: grid;
  gap: 0 2rem;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 992px) {
  .site-footer .site-info {
    grid-column: 2/span 8;
    grid-template-columns: repeat(8, 1fr);
  }
}
.site-footer .site-info .logo {
  grid-column: 1/span 1;
}
.site-footer .site-info .logo a {
  display: block;
}
.site-footer .site-info .project-info {
  grid-column: 2/span 3;
}
@media screen and (min-width: 992px) {
  .site-footer .site-info .project-info {
    grid-column: 2/span 7;
  }
}
.site-footer .site-info .project-info h1 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
  padding-bottom: 5px;
}
@media screen and (min-width: 992px) {
  .site-footer .site-info .project-info h1 {
    font-size: 0.875rem;
  }
}
.site-footer .site-info .project-info h2 {
  font-weight: bold;
  font-size: 1.5rem;
}
@media screen and (min-width: 992px) {
  .site-footer .site-info .project-info h2 {
    font-size: 2.25rem;
  }
}
.site-footer .site-info .project-info p {
  padding-top: 15px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 992px) {
  .site-footer .footer-nav {
    grid-column: 10/span 4;
  }
}
.site-footer .footer-nav h3 {
  font-size: 1.25rem;
  padding-bottom: 20px;
}
.site-footer .footer-nav h3:after {
  display: block;
  content: "";
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 10px;
}
@media screen and (min-width: 480px) {
  .site-footer .footer-nav .links {
    -moz-columns: 2;
         columns: 2;
  }
}
.site-footer .footer-nav .link {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}
.site-footer .footer-nav a {
  display: block;
}
.site-footer .footer-nav a:hover {
  text-decoration: underline;
}
.site-footer .download-report {
  padding: 50px 0;
}
@media screen and (min-width: 992px) {
  .site-footer .download-report {
    grid-column: 3/span 5;
    padding: 0 0 50px 0;
    margin-top: -75px;
  }
}
.site-footer .copyright {
  border-top: 2px solid #fff;
  padding: 10px 0 50px 0;
}
.site-footer .copyright p {
  font-size: 0.75rem;
}
.site-footer .credits {
  display: flex;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .site-footer .credits {
    justify-content: flex-end;
  }
}
.site-footer .credits a {
  display: block;
}
.site-footer .credits a img {
  width: 100%;
  max-width: 84px;
}

/*

    ----------------------------------------------------------------------
                               03 Template Parts
    ----------------------------------------------------------------------

*/
.hero .photo {
  position: relative;
  max-height: 450px;
}
.hero .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 40%;
}
.hero .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 992px) {
  .hero .photo {
    position: relative;
  }
  .hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 25%;
  }
  .hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.hero .info {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.hero .headline {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 25px 0;
}
@media screen and (min-width: 992px) {
  .hero .headline {
    padding: 50px 0;
  }
}
.hero h1 {
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 992px) {
  .hero h1 {
    font-size: 3rem;
  }
}

.content-header {
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  .content-header {
    padding: 6rem 0;
  }
}
.content-header .headline {
  padding-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  .content-header .headline {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  .content-header .copy {
    grid-column: 2/span 8;
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  background: rgba(255, 255, 255, 0.9);
}
.overlay-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .overlay-wrapper {
    padding: 80px 20px;
  }
}
.overlay .close {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
}
.overlay .close .close-btn {
  display: block;
  width: 36px;
}
.overlay .close .close-btn:before, .overlay .close .close-btn:after {
  background-color: #000;
  content: "";
  display: block;
  height: 4px;
  transition: all 200ms ease-in-out;
}
.overlay .close .close-btn:before {
  box-shadow: 0 0 0 #000;
  transform: translateY(11px) rotate(45deg);
  margin-bottom: 18px;
}
.overlay .close .close-btn:after {
  transform: translateY(-11px) rotate(-45deg);
}

section#video-overlay {
  display: none;
}
section#video-overlay .info {
  width: 100%;
  max-width: 1200px;
}
@media screen and (max-height: 800px) {
  section#video-overlay .info {
    max-width: 920px;
  }
}
@media screen and (min-width: 1720px) and (min-height: 900px) {
  section#video-overlay .info {
    max-width: 1400px;
  }
}
@media only screen and (device-width: 667px) and (device-height: 375px) {
  section#video-overlay .info {
    max-width: 520px;
  }
}
@media only screen and (device-width: 736px) and (device-height: 414px) {
  section#video-overlay .info {
    max-width: 580px;
  }
}
@media only screen and (device-width: 812px) and (device-height: 375px) {
  section#video-overlay .info {
    max-width: 560px;
  }
}
section#video-overlay .video-frame {
  position: relative;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
  background: #000;
}
section#video-overlay .video-frame:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
section#video-overlay .video-frame > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section#video-overlay .video-frame iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body.video-overlay-open {
  overflow: hidden;
}

.subscribe {
  background: #fafafa;
  padding: 2rem 1rem;
}
.subscribe .headline {
  padding-bottom: 0.5rem;
}
.subscribe form {
  width: 100%;
  padding-top: 1rem;
}
.subscribe form .field + .field {
  padding-top: 1rem;
}
.subscribe form .field input:not([type=submit]) {
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  border: 1px solid;
}
.subscribe form .submit input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: 0.5rem 1rem;
}

.social-links {
  display: flex;
  align-items: center;
}
.social-links .link + .link {
  padding-left: 1rem;
}
.social-links .link a {
  display: block;
}
.social-links .link a .label {
  display: none;
}
.social-links .link a .icon {
  display: block;
}

/*

    ----------------------------------------------------------------------
                               04 Blocks
    ----------------------------------------------------------------------

*/
/*

    ----------------------------------------------------------------------
                                05 Templates
    ----------------------------------------------------------------------

*/
body.page-template-homepage .site-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: auto;
}
body.page-template-homepage.nav-open {
  overflow-y: hidden;
}
body.page-template-homepage.nav-open .site-header {
  background: #fff;
}
body.page-template-homepage.nav-open .site-nav {
  min-height: 100vh;
}
body.page-template-homepage section.home-hero {
  align-items: end;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section.home-hero {
    align-items: center;
  }
}
body.page-template-homepage section.home-hero .photo {
  grid-row: 1;
  grid-column: 1/-1;
  position: relative;
  max-height: 90vh;
}
body.page-template-homepage section.home-hero .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-homepage section.home-hero .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-homepage section.home-hero .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section.home-hero .photo {
    position: relative;
  }
  body.page-template-homepage section.home-hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }
  body.page-template-homepage section.home-hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-homepage section.home-hero .photo {
    position: relative;
    max-height: 70vh;
  }
  body.page-template-homepage section.home-hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50%;
  }
  body.page-template-homepage section.home-hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
body.page-template-homepage section.home-hero .photo img {
  -o-object-position: top center;
     object-position: top center;
}
body.page-template-homepage section.home-hero .project-info {
  grid-row: 1;
  z-index: 10;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section.home-hero .project-info {
    padding-bottom: 0;
  }
}
body.page-template-homepage section.home-hero .project-info h1 {
  padding: 0.5rem 0 1rem 0;
}
body.page-template-homepage .home-outline {
  padding: 4rem 0;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage .home-outline {
    padding: 6rem 0;
  }
}
body.page-template-homepage .home-outline .headline h4 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body.page-template-homepage .home-outline .headline h4 {
    font-size: calc( 1rem + 0.125 * ( ( 100vw - 768px) / 672 ) );
  }
}
@media (min-width: 1440px) {
  body.page-template-homepage .home-outline .headline h4 {
    font-size: 1.125rem;
  }
}
body.page-template-homepage .home-outline .headline h2 {
  padding-bottom: 1rem;
}
body.page-template-homepage .home-outline .cta {
  padding-top: 2rem;
}
@media screen and (min-width: 480px) {
  body.page-template-homepage .about-site .headline, body.page-template-homepage .about-site .copy {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-homepage .about-site .headline, body.page-template-homepage .about-site .copy {
    grid-column: 3/span 8;
  }
}
body.page-template-homepage .about-site .download-report {
  padding-top: 3rem;
}
@media screen and (min-width: 480px) {
  body.page-template-homepage .about-site .download-report {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-homepage .about-site .download-report {
    grid-column: 3/span 5;
  }
}
body.page-template-homepage .about-site .download-report .cta {
  padding-top: 0;
}
body.page-template-homepage section.about-site,
body.page-template-homepage section.alternatives {
  background: #F1F1EE;
}

body.page-template-project-overview .project-background {
  padding: 3rem 0;
}
@media screen and (min-width: 768px) {
  body.page-template-project-overview .project-background {
    padding: 6rem 0;
  }
}
body.page-template-project-overview .project-background .headline {
  padding-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  body.page-template-project-overview .project-background .copy {
    grid-column: 2/span 8;
  }
}
body.page-template-project-overview .location {
  padding: 3rem 0;
}
@media screen and (min-width: 768px) {
  body.page-template-project-overview .location {
    padding: 6rem 0;
  }
}
body.page-template-project-overview .location .headline {
  padding-bottom: 1rem;
}
body.page-template-project-overview .location .copy {
  padding-bottom: 2rem;
}
body.page-template-project-overview .location .interactive {
  grid-column: 1/-1;
  position: relative;
  max-height: 60vh;
}
body.page-template-project-overview .location .interactive:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
body.page-template-project-overview .location .interactive > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-project-overview .location .interactive .content {
  padding: 0 2rem;
}
body.page-template-project-overview .project-objectives {
  padding: 3rem 0;
}
@media screen and (min-width: 768px) {
  body.page-template-project-overview .project-objectives {
    padding: 6rem 0;
  }
}
body.page-template-project-overview .project-objectives .headline {
  padding-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  body.page-template-project-overview .project-objectives .copy {
    grid-column: 2/span 8;
  }
}
body.page-template-project-overview .timeline {
  padding: 3rem 0;
}
@media screen and (min-width: 768px) {
  body.page-template-project-overview .timeline {
    padding: 6rem 0;
  }
}
body.page-template-project-overview .timeline .headline {
  padding-bottom: 2rem;
}
body.page-template-project-overview .timeline .infographic .entry + .entry {
  padding-top: 3rem;
}
@media screen and (min-width: 480px) {
  body.page-template-project-overview .timeline .infographic .entry .date {
    grid-column: 1/span 3;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-project-overview .timeline .infographic .entry .date {
    grid-column: 1/span 2;
  }
}
@media screen and (min-width: 480px) {
  body.page-template-project-overview .timeline .infographic .entry .info {
    grid-column: 4/span 5;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-project-overview .timeline .infographic .entry .info {
    grid-column: 4/span 7;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-project-overview .timeline .infographic .entry .info {
    grid-column: 3/span 7;
  }
}
body.page-template-project-overview .timeline .infographic .entry .info .headline {
  padding-bottom: 0.5rem;
}
body.page-template-project-overview .summary {
  padding: 3rem 0;
}
@media screen and (min-width: 768px) {
  body.page-template-project-overview .summary {
    padding: 6rem 0;
  }
}
body.page-template-project-overview .summary .headline {
  padding-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  body.page-template-project-overview .summary .copy {
    grid-column: 2/span 8;
  }
}

body.page-template-alternatives .site-content {
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-alternatives .site-content {
    padding-bottom: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-alternatives .site-content {
    padding-bottom: 12rem;
  }
}
body.page-template-alternatives .tabs .tab-links {
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid;
  margin-bottom: 3rem;
}
body.page-template-alternatives .tabs .tab-links a {
  display: block;
  padding: 0.5rem 0.75rem;
  border: 2px solid;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  body.page-template-alternatives .tabs .tab-links a {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}
body.page-template-alternatives .tabs .tab-links a + a {
  margin-left: 0.5rem;
}
@media screen and (min-width: 768px) {
  body.page-template-alternatives .tabs .tab-links a + a {
    margin-left: 1rem;
  }
}
body.page-template-alternatives .tabs .tab-links a:hover {
  text-decoration: none;
}
body.page-template-alternatives section.alternative {
  display: none;
}
body.page-template-alternatives section.alternative > * + * {
  margin-top: 2rem;
}
body.page-template-alternatives section.alternative.active {
  display: grid;
}
body.page-template-alternatives section.alternative .toggle.open .toggle-bar:after {
  transform: rotate(45deg);
}
body.page-template-alternatives section.alternative .toggle.open .info {
  padding: 1rem 1rem 0 1rem;
  display: block;
}
@media screen and (min-width: 768px) {
  body.page-template-alternatives section.alternative .toggle.open .info {
    padding: 2rem 2rem 1rem 2rem;
  }
}
body.page-template-alternatives section.alternative .toggle-bar {
  background: #000;
  padding: 1rem 1.5rem;
}
body.page-template-alternatives section.alternative .toggle-bar:after {
  content: "+";
  color: #fff;
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
  transition: all 0.05s ease-in;
}
body.page-template-alternatives section.alternative .toggle-bar:hover {
  cursor: pointer;
}
body.page-template-alternatives section.alternative .toggle-bar h3 {
  color: #fff;
}
body.page-template-alternatives section.alternative .info {
  display: none;
}

.impact-section {
  padding: 50px 0;
}
@media screen and (min-width: 768px) {
  .impact-section {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1280px) {
  .impact-section {
    padding: 150px 0;
  }
}
.impact-section .section-header {
  padding-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .impact-section .section-header {
    grid-column: 2/span 8;
  }
}
.impact-section .section-header h4 {
  padding-bottom: 10px;
}
.impact-section .section-header h2 {
  line-height: 1.25em;
}
.impact-section .footnotes {
  border-top: 2px solid;
  padding-top: 10px;
  padding-right: 25px;
}

.key-findings.impact-section .photo {
  position: relative;
}
.key-findings.impact-section .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
.key-findings.impact-section .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.key-findings.impact-section .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .key-findings.impact-section .photo {
    grid-column: 2/span 4;
    position: relative;
  }
  .key-findings.impact-section .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 166.6666666667%;
  }
  .key-findings.impact-section .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .key-findings.impact-section .photo {
    grid-column: 3/span 4;
  }
}
.key-findings.impact-section .info {
  padding-top: 25px;
}
@media screen and (min-width: 768px) {
  .key-findings.impact-section .info {
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  .key-findings.impact-section .info {
    padding-top: 50px;
    grid-column: 7/span 6;
  }
}
.key-findings.impact-section .info a {
  text-decoration: underline;
}
.key-findings.impact-section .info ul {
  list-style-type: none;
  padding-left: 2rem;
}
.key-findings.impact-section .info ul li {
  padding-left: 1.5rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .key-findings.impact-section .info ul li {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .key-findings.impact-section .info ul li {
    font-size: 1.375rem;
  }
}
.key-findings.impact-section .info ul li:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  display: block;
  background: #000;
  position: absolute;
  top: 11px;
  left: 0;
}
.key-findings.impact-section .info ul li + li {
  margin-top: 1.25rem;
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .three-column-text.impact-section .copy {
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .three-column-text.impact-section .copy > * {
    display: inline-block;
  }
}
@media screen and (min-width: 992px) {
  .three-column-text.impact-section .copy {
    -moz-columns: 3;
         columns: 3;
  }
}
.three-column-text.impact-section .copy p {
  margin-bottom: 30px;
  padding: 0;
}

.arcgis.impact-section .interactive {
  grid-column: 1/-1;
  padding: 0 32px;
  position: relative;
}
.arcgis.impact-section .interactive:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
.arcgis.impact-section .interactive > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.arcgis.impact-section .interactive iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.arcgis.impact-section .interactive .caption {
  padding-top: 10px;
}
.arcgis.impact-section .copy {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .arcgis.impact-section .copy {
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .arcgis.impact-section .copy > * {
    display: inline-block;
  }
}
.arcgis.impact-section .copy p {
  margin-bottom: 30px;
  padding: 0;
}

.map.impact-section .interactive {
  position: relative;
}
.map.impact-section .interactive:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
.map.impact-section .interactive > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 992px) {
  .map.impact-section .interactive {
    grid-column: 4/span 10;
  }
}
.map.impact-section .interactive iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.map.impact-section .copy .credit {
  padding-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  .map.impact-section .copy {
    grid-column: 2/span 2;
    grid-row: 2;
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 992px) {
  .gallery.impact-section .copy {
    grid-row: 2;
    grid-column: 2/span 5;
  }
}
@media screen and (min-width: 992px) {
  .gallery.impact-section .photo-gallery {
    grid-column: 8/span 6;
  }
}
.gallery.impact-section .photo-gallery .gallery-columns-3 {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.gallery.impact-section .photo-gallery .gallery-item {
  position: relative;
}
.gallery.impact-section .photo-gallery .gallery-item:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.gallery.impact-section .photo-gallery .gallery-item > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gallery.impact-section .photo-gallery .gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery.impact-section .photo-gallery .gallery-item .gallery-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gallery.impact-section .photo-gallery .gallery-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.gallery.impact-section .photo-gallery .gallery-item img {
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.jp-carousel-info,
.jp-carousel-left-column-wrapper {
  display: none;
}

.jp-carousel-overlay {
  opacity: 0.98 !important;
}

.jp-carousel-close-hint span {
  font-size: 48px !important;
  height: 48px;
}

@media screen and (min-width: 768px) {
  .video.impact-section .video-player {
    grid-column: 2/span 5;
  }
}
@media screen and (min-width: 992px) {
  .video.impact-section .video-player {
    grid-column: 2/span 9;
  }
}
.video.impact-section .video-player a {
  display: block;
  position: relative;
}
.video.impact-section .video-player a:after {
  display: block;
  content: "";
  background: url(images/video-play-btn.svg) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  z-index: 10;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 96px;
  height: 96px;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
}
@media screen and (min-width: 992px) {
  .video.impact-section .video-player a:after {
    width: 124px;
    height: 124px;
    top: calc(50% - 62px);
    left: calc(50% - 62px);
  }
}
.video.impact-section .video-player .time {
  display: inline-block;
  position: absolute;
  z-index: 10;
  right: 10px;
  bottom: 10px;
  background: #fff;
  color: #000;
  font-size: 0.875rem;
  padding: 10px;
}
.video.impact-section .copy {
  padding-top: 2rem;
}
.video.impact-section .copy .credit {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .video.impact-section .copy {
    padding-top: 0;
    grid-column: 7/span 3;
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 992px) {
  .video.impact-section .copy {
    grid-column: 11/span 3;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 992px) {
  .audio.impact-section .copy {
    grid-column: 2/span 6;
  }
}
.audio.impact-section .audio-files {
  padding-top: 50px;
}
@media screen and (min-width: 992px) {
  .audio.impact-section .audio-files {
    padding-top: 0;
    grid-column: 9/span 5;
  }
}
.audio.impact-section .audio-files .file {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
}
@media screen and (min-width: 480px) {
  .audio.impact-section .audio-files .file {
    grid-template-columns: repeat(8, minmax(auto, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .audio.impact-section .audio-files .file {
    grid-template-columns: repeat(5, minmax(auto, 71px));
  }
}
.audio.impact-section .audio-files .file + .file {
  margin-top: 2rem;
  border-top: 1px solid #000;
  padding-top: 2rem;
}
.audio.impact-section .audio-files .player {
  grid-column: 1/span 1;
}
@media screen and (min-width: 480px) {
  .audio.impact-section .audio-files .player {
    grid-column: 1/span 2;
  }
}
@media screen and (min-width: 992px) {
  .audio.impact-section .audio-files .player {
    grid-column: 1/span 1;
  }
}
.audio.impact-section .audio-files .info {
  grid-column: 2/span 3;
}
@media screen and (min-width: 480px) {
  .audio.impact-section .audio-files .info {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  .audio.impact-section .audio-files .info {
    grid-column: 2/span 4;
  }
}
.audio.impact-section .audio-files .info .headline {
  padding-bottom: 10px;
}
.audio.impact-section .sc_player_container1 .myButton_play,
.audio.impact-section .sc_player_container1 .myButton_stop {
  width: 71px !important;
  height: 71px !important;
  background: #000 !important;
  border-radius: 50%;
}
.audio.impact-section .sc_player_container1 .myButton_play:focus, .audio.impact-section .sc_player_container1 .myButton_play:active,
.audio.impact-section .sc_player_container1 .myButton_stop:focus,
.audio.impact-section .sc_player_container1 .myButton_stop:active {
  outline: none;
}
.audio.impact-section .sc_player_container1 .myButton_play {
  background-image: url(images/icon-play-white.svg) !important;
  background-repeat: no-repeat !important;
  background-position: 27px 24px !important;
  background-size: 24px 24px !important;
}
.audio.impact-section .sc_player_container1 .myButton_stop {
  background-image: url(images/icon-pause-white.svg) !important;
  background-repeat: no-repeat !important;
  background-position: 24px 24px !important;
  background-size: 24px 24px !important;
}

.posts-archive {
  padding: 3rem 0;
}
@media screen and (min-width: 768px) {
  .posts-archive {
    padding: 6rem 0 8rem;
  }
}
.posts-archive .year {
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  .posts-archive .year {
    grid-column: 2/span 9;
  }
}
.posts-archive .month {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 2rem;
}
@media screen and (min-width: 480px) {
  .posts-archive .month {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .posts-archive .month {
    grid-column: 2/span 9;
    grid-template-columns: repeat(9, 1fr);
  }
}
.posts-archive .month + .month {
  padding-top: 3rem;
}
.posts-archive .month + .month .month-header {
  border-top: 1px solid;
  padding-top: 3rem;
  position: relative;
}
.posts-archive .month + .month .month-header:after {
  content: "";
  display: block;
  width: 2rem;
  height: 1px;
  background: #000;
  position: absolute;
  top: -1px;
  right: -2rem;
}
.posts-archive .month + .month .post:first-of-type {
  border-top: 1px solid;
  padding-top: 3rem;
}
.posts-archive .month + .year {
  padding-top: 3rem;
}
@media screen and (min-width: 768px) {
  .posts-archive .month + .year {
    padding-top: 6rem;
  }
}
.posts-archive .month + .year .headline {
  border-top: 1px solid;
  padding-top: 3rem;
}
@media screen and (min-width: 768px) {
  .posts-archive .month + .year .headline {
    padding-top: 6rem;
  }
}
.posts-archive .month-header {
  grid-column: 1/span 1;
}
@media screen and (min-width: 480px) {
  .posts-archive .month-header {
    grid-column: 1/span 2;
  }
}
.posts-archive .month-header h5 {
  text-transform: uppercase;
}
.posts-archive .month .post {
  grid-column: 2/span 3;
}
@media screen and (min-width: 480px) {
  .posts-archive .month .post {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  .posts-archive .month .post {
    grid-column: 3/span 9;
  }
}
.posts-archive .month .post + .post {
  padding-top: 3rem;
  border-top: 1px solid;
  margin-top: 3rem;
}
.posts-archive .month .post .headline {
  padding-bottom: 0.5rem;
}
.posts-archive .month .post .cta {
  padding-top: 1rem;
}

.recent-posts {
  padding: 3rem 0;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .recent-posts {
    padding: 6rem 0;
  }
}
.recent-posts .section-header .headline {
  padding-bottom: 2rem;
}
.recent-posts .posts-sub-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 480px) {
  .recent-posts .posts-sub-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .recent-posts .posts-sub-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.recent-posts article .photo {
  position: relative;
}
.recent-posts article .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.recent-posts article .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.recent-posts article .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recent-posts article .photo a {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recent-posts article .info {
  padding-top: 1rem;
}
.recent-posts article .info .meta {
  padding-bottom: 0.5rem;
}
.recent-posts article .info .meta .date span {
  display: block;
}
.recent-posts article .info .copy {
  padding: 1rem 0;
}

.subscribe {
  margin-top: 6rem;
}
@media screen and (min-width: 992px) {
  .subscribe {
    margin-top: 0;
    grid-column: 11/span 3;
    grid-row: 2;
  }
}

body.single-post .post-article {
  padding: 3rem 0;
}
@media screen and (min-width: 768px) {
  body.single-post .post-article {
    padding: 6rem 0;
  }
}
body.single-post .post-article .article-header {
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  body.single-post .post-article .article-header {
    padding-bottom: 0;
    grid-column: 2/span 3;
  }
}
@media screen and (min-width: 1280px) {
  body.single-post .post-article .article-header {
    grid-column: 2/span 4;
  }
}
body.single-post .post-article .article-header .date {
  padding-bottom: 1rem;
}
body.single-post .post-article .article-header .date h4 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
body.single-post .post-article .article-header .meta {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.single-post .post-article .article-header .meta {
    padding-top: 4rem;
  }
}
body.single-post .post-article .article-header .meta .categories .headline {
  padding-bottom: 0.5rem;
}
body.single-post .post-article .article-header .meta .categories .post-categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
body.single-post .post-article .article-header .meta .categories .post-categories li + li {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  body.single-post .post-article .article-body {
    grid-column: 5/span 5;
  }
}
@media screen and (min-width: 992px) {
  body.single-post .post-article .article-body {
    grid-column: 5/span 9;
  }
}
@media screen and (min-width: 1280px) {
  body.single-post .post-article .article-body {
    grid-column: 6/span 6;
  }
}

@media screen and (min-width: 992px) {
  body.page-template-resources section.filter form {
    grid-column: 2/span 4;
  }
}
body.page-template-resources section.filter form .filter-input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
body.page-template-resources section.filter form label {
  width: 100%;
  display: block;
  padding-bottom: 0.5rem;
}
body.page-template-resources section.filter form input[type=search] {
  flex: 1;
  border: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.25rem;
  padding: 0 10px;
}
body.page-template-resources section.filter form input[type=search]:active, body.page-template-resources section.filter form input[type=search]:focus {
  outline: none;
}
body.page-template-resources section.filter form button {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: transparent url(images/search.svg) no-repeat center center;
  background-size: 16px 16px;
  width: 30px;
  height: 30px;
  border: none;
  text-indent: -9999px;
}
body.page-template-resources section.filter form button:active, body.page-template-resources section.filter form button:focus {
  outline: none;
}
body.page-template-resources section.documents {
  padding: 3rem 0 3rem 0;
}
@media screen and (min-width: 480px) {
  body.page-template-resources section.documents {
    padding: 3rem 0 6rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-resources .documents-categories {
    grid-column: 2/span 3;
  }
  body.page-template-resources .documents-categories .sticky-wrapper {
    position: sticky;
    top: 0;
  }
}
body.page-template-resources .documents-categories .section-header {
  padding: 1.25rem;
}
body.page-template-resources .documents-categories .section-header h4 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.875rem;
}
body.page-template-resources .documents-categories .categories-list {
  padding: 32px 20px;
}
body.page-template-resources .documents-categories .categories-list h5 {
  padding-bottom: 12px;
  font-style: italic;
  font-size: 1rem;
}
body.page-template-resources .documents-categories .categories-list ul li {
  padding: 12px 0;
}
body.page-template-resources .documents-categories .categories-list ul a {
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25em;
}
body.page-template-resources .documents-categories .categories-list ul a:hover {
  text-decoration: underline;
}
body.page-template-resources .documents-list {
  overflow-x: auto;
}
@media screen and (min-width: 992px) {
  body.page-template-resources .documents-list {
    grid-column: 5/span 9;
  }
}
body.page-template-resources .documents-list table {
  width: 100%;
}
body.page-template-resources .documents-list table thead {
  text-align: left;
}
body.page-template-resources .documents-list table thead th {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  padding: 1.25rem;
}
body.page-template-resources .documents-list table thead th.cat {
  padding-left: 10px;
}
body.page-template-resources .documents-list table tbody td {
  padding: 20px 10px;
  vertical-align: middle;
}
body.page-template-resources .documents-list table tbody .cat-header {
  font-weight: bold;
  font-size: 1.125rem;
  border-bottom: 1px solid #ccc;
}
body.page-template-resources .documents-list table tbody tr.file td {
  font-size: 0.875rem;
  line-height: 1.25em;
  border-bottom: 1px solid #ccc;
}
body.page-template-resources .documents-list table tbody tr.file td + td {
  border-left: 1px solid #ccc;
}
body.page-template-resources .documents-list table tbody tr.file td a {
  font-weight: bold;
  text-decoration: underline;
}
body.page-template-resources .documents-list table tbody tr.file td a:hover {
  text-decoration: underline;
}
body.page-template-resources .documents-list table .cat {
  width: 20%;
}
body.page-template-resources .documents-list table .title {
  width: 40%;
}
body.page-template-resources .documents-list table .date {
  min-width: 120px;
  text-align: center;
}
body.page-template-resources .documents-list table .author {
  min-width: 150px;
}
body.page-template-resources .documents-list table .pdf {
  text-align: center;
}

body.page-template-get-involved section.events {
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-get-involved section.events {
    grid-column: 2/span 9;
    padding-bottom: 6rem;
  }
}
body.page-template-get-involved section.events .event {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: repeat(6, 1fr);
}
@media screen and (min-width: 480px) {
  body.page-template-get-involved section.events .event {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media screen and (min-width: 992px) {
  body.page-template-get-involved section.events .event {
    grid-template-columns: repeat(9, 1fr);
  }
}
body.page-template-get-involved section.events .event + .event {
  margin-top: 3rem;
  border-top: 1px solid #000;
  padding-top: 3rem;
}
body.page-template-get-involved section.events .event .cal {
  grid-column: 1/span 1;
  text-align: center;
  text-transform: uppercase;
}
body.page-template-get-involved section.events .event .cal span {
  width: 100%;
  display: block;
}
body.page-template-get-involved section.events .event .cal .month {
  background: #B54646;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.5rem;
  letter-spacing: 0.05em;
}
body.page-template-get-involved section.events .event .cal .day {
  padding: 0.75rem;
  font-size: 1.5rem;
  line-height: 1em;
  letter-spacing: 0.05em;
  border: 1px solid #000;
  border-top: none;
}
body.page-template-get-involved section.events .event .info {
  grid-column: 2/-1;
}
body.page-template-get-involved section.events .event .info .title {
  padding-bottom: 0.5rem;
}
body.page-template-get-involved section.events .event .info .copy a {
  text-decoration: underline;
}
body.page-template-get-involved section.events .event .info .meta {
  padding-top: 1rem;
}
@media screen and (min-width: 992px) {
  body.page-template-get-involved section.events .event .info .meta {
    display: flex;
    align-items: center;
  }
}
body.page-template-get-involved section.events .event .info .meta div + div {
  padding-top: 0.5rem;
}
@media screen and (min-width: 992px) {
  body.page-template-get-involved section.events .event .info .meta div + div {
    padding-top: 0;
    padding-left: 4rem;
  }
}
body.page-template-get-involved section.events .event .info .meta p {
  font-size: 0.75rem;
}
@media screen and (min-width: 992px) {
  body.page-template-get-involved section.events .event .info .meta p {
    font-size: 0.875rem;
  }
}
body.page-template-get-involved section.events .event .info .meta p .key {
  text-transform: uppercase;
  padding-right: 0.125rem;
}
@media screen and (min-width: 992px) {
  body.page-template-get-involved section.events .event .info .meta p .key {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-get-involved section.events .event .info .meta p .key {
    display: inline;
  }
}
body.page-template-get-involved section.events .event .info .meta .time {
  text-transform: uppercase;
}
body.page-template-get-involved aside.sidebar {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  body.page-template-get-involved aside.sidebar {
    padding-top: 0;
    grid-column: 11/span 3;
  }
}
body.page-template-get-involved aside.sidebar .contact-us {
  border: 0.25rem solid #000;
  padding: 2rem 1rem;
  margin-top: 2rem;
}
body.page-template-get-involved aside.sidebar .contact-us .headline {
  padding-bottom: 0.5rem;
}
body.page-template-get-involved aside.sidebar .contact-us .email,
body.page-template-get-involved aside.sidebar .contact-us .phone {
  padding-top: 1.5rem;
}
body.page-template-get-involved aside.sidebar .contact-us .email strong,
body.page-template-get-involved aside.sidebar .contact-us .phone strong {
  display: block;
}