.site-footer {
	background: $charcoal;
	color: $white;
	padding: 50px 0;
	
	@include desktop-small {
		padding: 100px 0;
	}

	a {
		color: $white;
	}

	@import 'site-info';

	@import 'footer-nav';

	@import 'download-report';

	@import 'copyright';

	@import 'credits';
}