.footer-nav {

	@include desktop-small {
		grid-column: 10 / span 4;
	}

	h3 {
		font-size: 1.25rem;
		padding-bottom: 20px;

		&:after {
			display: block;
			content: '';
			width: 30px;
			height: 3px;
			background: $white;
			margin-top: 10px;
		}
	}

	.links {
		@include tablet-small {
			columns: 2;
			
		}
	}

	.link {
		padding: 10px 0;
		display: inline-block;
		width: 100%;
	}

	a {
		display: block;

		&:hover {
			text-decoration: underline;
		}		
	}
}