.site-info {
	padding-bottom: 50px;
	display: grid;
	gap: 0 2rem;
	grid-template-columns: repeat(4, 1fr);

	@include desktop-small {
		grid-column: 2 / span 8;
		grid-template-columns: repeat(8, 1fr);
	}

	.logo {
		grid-column: 1 / span 1;

		a {
			display: block;
		}
	}

	.project-info {
		grid-column: 2 / span 3;

		@include desktop-small {
			grid-column: 2 / span 7;
		}

		h1 {
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 0.75rem;
			padding-bottom: 5px;

			@include desktop-small {
				font-size: 0.875rem;
			}
		}

		h2 {
			font-weight: bold;
			font-size: 1.5rem;

			@include desktop-small {
				font-size: 2.25rem;
			}
		}

		p {
			padding-top: 15px;
			line-height: 1.5em;
			text-transform: uppercase;
			font-size: 0.75rem;
			letter-spacing: 0.05em;

		}
	}
}