.p1 {
	font-size: 1.125rem;
	line-height: 1.375em;

	@include tablet {
		font-size: 1.375rem;
	}

	p + p {
		padding-top: 2rem;
	}

}

.p2 {
	font-size: 1rem;
	line-height: 1.375em;

	@include tablet {
		font-size: 1.25rem;
	}

	> * + * {
		padding-top: 2rem;
	}
}

.p3 {
	font-size: 0.875rem;
	line-height: 1.375em;

	@include tablet {
		font-size: 1rem;
	}

	p + p {
		padding-top: 1.5rem;
	}
}

.p4 {
	font-size: 0.8125rem;
	line-height: 1.375em;

	@include tablet {
		font-size: 0.875rem;
	}

	p + p {
		padding-top: 1.5rem;
	}
}

.copy {
	a {
		text-decoration: underline;
	}
	
	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	ul, ol {
		padding-left: 3rem;

		li {
			& + li {
				padding-top: 1rem;
			}
		}
	}

	blockquote {
		margin: 0;
		padding: 3rem;

		& + * {
			padding-top: 0;
		}

		p {
			padding-top: 0;

			& + p {
				padding-top: 1rem;
			}
		}

	}

}