.headline {

	.h1 {
		@include ms-respond(font-size, 4);
		font-weight: bold;

		@include tablet {
			@include ms-respond(font-size, 6);
		}
	}

	.h2 {
		@include ms-respond(font-size, 5);
	}

	.h3 {
		@include ms-respond(font-size, 4);
	}

	.h4 {
		@include ms-respond(font-size, 3);
	}

	.h5 {
		@include ms-respond(font-size, 0);

		@include tablet {
			@include ms-respond(font-size, 2);
		}
	}

	.h6 {
		@include ms-respond(font-size, 0);
	}
}

