body,
button,
input,
select,
optgroup,
textarea {

}

a {
	color: $black;
	transition: all 0.3s ease-in-out;

	&:hover {
		text-decoration: underline;
	}
}

$modularscale: (
	base: 0.875rem,
	ratio: 1.2,
	768px: (
		base: 1rem,
		ratio: 1.2
	),
	1440px: (
		base: 1.125rem,
		ratio: 1.2
	),
);


@import "headings";

@import "copy";