.posts-archive {
    padding: 3rem 0;

    @include tablet {
        padding: 6rem 0 8rem;
    }

    .year {
        padding-bottom: 3rem;

        @include desktop-small {
            grid-column: 2 / span 9;
        }
    }

    .month {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0 2rem;

        @include tablet-small {
            grid-template-columns: repeat(8, 1fr);
        }

        @include desktop-small {
            grid-column: 2 / span 9;
            grid-template-columns: repeat(9, 1fr);
        }

        & + .month {
            padding-top: 3rem;

            .month-header {
                border-top: 1px solid;
                padding-top: 3rem;
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    width: 2rem;
                    height: 1px;
                    background: $black;
                    position: absolute;
                    top: -1px;
                    right: -2rem;
                }
            }

            .post:first-of-type {
                border-top: 1px solid;
                padding-top: 3rem;
            }         
        }

        & + .year {
            padding-top: 3rem;

            @include tablet {
                padding-top: 6rem;
            }

            .headline {
                border-top: 1px solid;
                padding-top: 3rem;

                @include tablet {
                    padding-top: 6rem;
                }
            }
        }

        &-header {
            grid-column: 1 / span 1;

            @include tablet-small {
                grid-column: 1 / span 2;
            }

            h5 {
                text-transform: uppercase;
            }
        }

        .post {
            grid-column: 2 / span 3;

            @include tablet-small {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                grid-column: 3 / span 9;
            }

            & + .post {
                padding-top: 3rem;
                border-top: 1px solid;
                margin-top: 3rem;
            }

            .headline {
                padding-bottom: 0.5rem;
            }

            .cta {
                padding-top: 1rem;
            }
        }
    }
}