.recent-posts {
    padding: 3rem 0;
    background: $white;

    @include tablet {
        padding: 6rem 0;
    }
    

    .section-header {
        .headline {
            padding-bottom: 2rem;
        }
    }

    .posts-sub-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
        
        @include tablet-small {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    article {
        .photo {
            @include aspect-ratio(16, 9);
            @include cover-fill-image;

            a {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            padding-top: 1rem;

            .meta {
                padding-bottom: 0.5rem;

                .date {
                    span {
                        display: block;
                    }
                }
            }
            
            .copy {
                padding: 1rem 0;
            }
        }
    }
}