.location {
    padding: 3rem 0;

    @include tablet {
        padding: 6rem 0;
    }

    .headline {
        padding-bottom: 1rem;
    }

    .copy {
        padding-bottom: 2rem;
    }

    .interactive {
        grid-column: 1 / -1;
        @include aspect-ratio(16, 9);
        max-height: 60vh;

        .content {
            padding: 0 2rem;
        }
        
    }
}