.project-background {
    padding: 3rem 0;

    @include tablet {
        padding: 6rem 0;
    }

    .headline {
        padding-bottom: 1rem;
    }

    .copy {
        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }
}