.timeline {
    padding: 3rem 0;

    @include tablet {
        padding: 6rem 0;
    }

    .headline {
        padding-bottom: 2rem;
    }

    .infographic {
        .entry {          
            & + .entry {
                padding-top: 3rem;
            }

            .date {
                @include tablet-small {
                    grid-column: 1 / span 3;
                }

                @include desktop-medium {
                    grid-column: 1 / span 2;
                }
            }

            .info {
                @include tablet-small {
                    grid-column: 4 / span 5;
                }

                @include desktop-small {
                    grid-column: 4 / span 7;
                }

                @include desktop-medium {
                    grid-column: 3 / span 7;
                }

                .headline {
                    padding-bottom: 0.5rem;
                }
            }

        }
    }

}