body.page-template-alternatives {

    .site-content {
        padding-bottom: 3rem;

        @include tablet {
            padding-bottom: 6rem;
        }

        @include desktop-medium {
            padding-bottom: 12rem;
        }
    }

	@import 'template-parts/alternatives/tabs';

    @import 'template-parts/alternatives/sections';

    @import 'template-parts/alternatives/headline-and-copy';


}