body.page-template-homepage {

	.site-header {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		height: auto;
	}

	&.nav-open {
		overflow-y: hidden;

		.site-header {
			background: $white;
		}

		.site-nav {
			min-height: 100vh;
		}
	}

	@import 'template-parts/homepage/hero';

	.home-outline {
		padding: 4rem 0;

		@include tablet {
			padding: 6rem 0;
		}

		.headline {
			h4 {
				text-transform: uppercase;
				@include ms-respond(font-size, 0);
				font-weight: bold;
				letter-spacing: 0.05em;
				padding-bottom: 0.5rem;
			}

			h2 {
				padding-bottom: 1rem;

			}
		}

		.cta {
			padding-top: 2rem;
		}
	}

	.about-site {
		.headline, .copy {
			@include grid-column(2 / span 8, 3 / span 8,);
		}
		

		.download-report {
			padding-top: 3rem;
			@include grid-column(2 / span 8, 3 / span 5);

			.cta {
				padding-top: 0;
			}
		}
	}

	section.about-site,
	section.alternatives {
		background: #F1F1EE;
	}




}