@import 'template-parts/news/posts-archive';

@import 'template-parts/news/recent-posts';


.subscribe {
    margin-top: 6rem;

    @include desktop-small {
        margin-top: 0;
        grid-column: 11 / span 3;
        grid-row: 2;
    }
}