body.single-post {

    .post-article {
        padding: 3rem 0;

        @include tablet {
            padding: 6rem 0;
        }

        .article-header {
            padding-bottom: 2rem;

            @include tablet {
                padding-bottom: 0;
                grid-column: 2 / span 3;
            }

            @include desktop-medium {
                grid-column: 2 / span 4;                
            }

            .date {
                padding-bottom: 1rem;

                h4 {
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                }
            }

            .meta {
                padding-top: 2rem;

                @include tablet {
                    padding-top: 4rem;
                }

                .categories {
                    .headline {
                        padding-bottom: 0.5rem;
                    }
                    .post-categories {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;

                        li + li {
                            padding-left: 1rem;
                        }
                    }
                }
            }
        }

        .article-body {
            @include tablet {
                grid-column: 5 / span 5;
            }

            @include desktop-small {
                grid-column: 5 / span 9;
            }

            @include desktop-medium {
                grid-column: 6 / span 6;
            }
        }
    }

}