.download-report {
	@include desktop-small {
		grid-column: 2 / span 5;
	}

	a {
		display: flex;
		align-items: center;
		background: $white;
		padding: 20px;

		span {
			display: block;
			color: $black;
		}

		.meta {
			padding-left: 20px;
		}

		.cta {
			font-weight: bold;
			font-size: 1.25rem;
			padding-bottom: 5px;
		}

		.details {
			font-size: 0.75rem;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
	}
}