.documents-list {
	overflow-x: auto;

	@include desktop-small {
		grid-column: 5 / span 9;
	}

	table {
		width: 100%;

		thead {

			text-align: left;

			th {
				font-weight: bold;
				text-transform: uppercase;
				font-size: 0.875rem;
				letter-spacing: 0.05em;
				padding: 1.25rem;

				&.cat {
					padding-left: 10px;
				}
			}
		}

		tbody {
			td {
				padding: 20px 10px;
				vertical-align: middle;
			}

			.cat-header {
				font-weight: bold;
				font-size: 1.125rem;
				border-bottom: 1px solid #ccc;
			}

			tr.file {
				td {
					font-size: 0.875rem;
					line-height: 1.25em;
					border-bottom: 1px solid #ccc;

					& + td {
						border-left: 1px solid #ccc;
					}

					a {
						font-weight: bold;
						text-decoration: underline;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}


		}

		.cat {
			width: 20%;
		}

		.title {
			width: 40%;
		}

		.date {
			min-width: 120px;
			text-align: center;
		}

		.author {
			min-width: 150px;
		}

		.pdf {
			text-align: center;
		}
	}	
}