.documents-categories {

	@include desktop-small {
		grid-column: 2 / span 3;

		.sticky-wrapper {
			position: sticky;
			top: 0;
		}

	}

	.section-header {
		padding: 1.25rem;

		h4 {
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 0.875rem;
		}
	}

	.categories-list {
		padding: 32px 20px;

		h5 {
			padding-bottom: 12px;
			font-style: italic;
			font-size: 1rem;
		}

		ul {
			li {
				padding: 12px 0;
			}

			a {
				display: inline-block;
				font-weight: bold;
				font-size: 1rem;
				line-height: 1.25em;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}	
}