section.filter {
	form {

		@include desktop-small {
			grid-column: 2 / span 4;
		}

		.filter-input {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}

		label {
			width: 100%;
			display: block;
			padding-bottom: 0.5rem;
		}

		input[type="search"] {
			flex: 1;

			border: none;
			height: 50px;
			line-height: 50px;
			font-size: 1.25rem;
			padding: 0 10px;

			@include placeholder {
			}

			&:active,
			&:focus {
				outline: none;
			}
		}

		button {
			display: block;
			position: absolute;
			right: 10px;
			bottom: 10px;
			background: transparent url(images/search.svg) no-repeat center center;
			background-size: 16px 16px;
			width: 30px;
			height: 30px;
			border: none;
			text-indent: -9999px;

			&:active,
			&:focus {
				outline: none;
			}
		}
	}


}