section.alternative {
    display: none;

    > * + * {
        margin-top: 2rem;
    }

    &.active {
        display: grid;
    }

    .toggle {
        &.open {
            .toggle-bar {
                &:after {
                    transform: rotate(45deg);
                }
            }
            .info {
                padding: 1rem 1rem 0 1rem;
                display: block;

                @include tablet {
                    padding: 2rem 2rem 1rem 2rem;
                }
            }
        }
    }

    .toggle-bar {
        background: $black;
        padding: 1rem 1.5rem;

        &:after {
            content: "+";
            color: $white;
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 1.5rem;
            font-weight: normal;
            transition: all 0.05s ease-in;
        }

        &:hover {
            cursor: pointer;
        }

        h3 {
            color: $white;
        }        
    }



    .info {
        display: none;
    }

}