.tabs {
    .tab-links {
        display: flex;
        align-items: flex-end;
        border-bottom: 2px solid;
        margin-bottom: 3rem;

        a {
            display: block;
            padding: 0.5rem 0.75rem;
            border: 2px solid;
            border-bottom: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-size: 0.75rem;

            @include tablet {
                padding: 0.75rem 1rem;
                font-size: 1rem;
            }

            & + a {
                margin-left: 0.5rem;

                @include tablet {
                    margin-left: 1rem;
                }
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}