.content-header {
	padding: 3rem 0;

	@include desktop-small {
		padding: 6rem 0;
	}

	.headline {
		padding-bottom: 1rem;

		@include desktop-small {
			grid-column: 2 / span 8;
		}
	}

	.copy {
		@include desktop-small {
			grid-column: 2 / span 8;
		}
	}
}