.hero {
	.photo {
		@include aspect-ratio(2.5, 1);
		@include cover-fill-image;
		max-height: 450px;

		@include desktop-small {
			@include aspect-ratio(4, 1);
		}
	}

	.info {
		color: $white;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		height: 100%;
	}

	.headline {
		display: flex;
		align-items: flex-end;
		height: 100%;
		padding: 25px 0;

		@include desktop-small {
			padding: 50px 0;
		}
	}

	h1 {
		font-weight: bold;
		font-size: 2rem;
		text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

		@include desktop-small {
			font-size: 3rem;
		}
	}
}