.social-links {
    display: flex;
    align-items: center;

    .link {
        & + .link {
            padding-left: 1rem;
        }

        a {
            display: block;

            .label {
                display: none;
            }

            .icon {
                display: block;
            }
        }
    }

}