.subscribe {
    background: $off-white;
    padding: 2rem 1rem;

    .headline {
        padding-bottom: 0.5rem;
    }

    form {
        width: 100%;
        padding-top: 1rem;

        .field {
            & + .field {
                padding-top: 1rem;
            }

            input:not([type="submit"]) {
                width: 100%;
                height: 2.5rem;
                padding: 0.5rem;
                border: 1px solid;
            }
        }

        .submit {
            input {
                appearance: none;
                border: none;
                padding: 0.5rem 1rem;

            }
        }
    }
}