section.home-hero {
	align-items: end;

	@include tablet {
		align-items: center;
	}

	.photo {
		grid-row: 1;
		grid-column: 1 / -1;
		@include aspect-ratio(4, 3);
		@include cover-fill-image;
		max-height: 90vh;

		@include tablet {
			@include aspect-ratio(16, 9);
		}

		@include desktop-medium {
			@include aspect-ratio(16, 8);
			max-height: 70vh;
		}

		img {
			object-position: top center;
		}
	}

	.project-info {
		grid-row: 1;
		z-index: 10;
		padding-bottom: 2rem;
		
		@include tablet {
			padding-bottom: 0;
		}

		
		h1 {
			padding: 0.5rem 0 1rem 0;
		}
	}
}