section.events {
	padding-bottom: 3rem;

	@include desktop-small {
		grid-column: 2 / span 9;
		padding-bottom: 6rem;
	}

	.event {
		display: grid;
		gap: 0 2rem;
		grid-template-columns: repeat(6, 1fr);

		@include tablet-small {
			grid-template-columns: repeat(8, 1fr);
		}

		@include desktop-small {
			grid-template-columns: repeat(9, 1fr);
		}

		& + .event {
			margin-top: 3rem;
			border-top: 1px solid $black;
			padding-top: 3rem;
		}

		.cal {
			grid-column: 1 / span 1;
			text-align: center;
			text-transform: uppercase;

			span {
				width: 100%;
				display: block;
			}

			.month {
				background: $red;
				color: $white;
				font-size: 0.75rem;
				padding: 0.5rem;
				letter-spacing: 0.05em;
			}

			.day {
				padding: 0.75rem;
				font-size: 1.5rem;
				line-height: 1em;
				letter-spacing: 0.05em;
				border: 1px solid $black;
				border-top: none;
			}
		}

		.info {
			grid-column: 2 / -1;

			.title {
				padding-bottom: 0.5rem;
			}

			.copy {
				a {
					text-decoration: underline;
				}
			}

			.meta {
				padding-top: 1rem;

				@include desktop-small {
					display: flex;
					align-items: center;					
				}


				div + div {
					padding-top: 0.5rem;

					@include desktop-small {
						padding-top: 0;
						padding-left: 4rem;
					}
				}

				p {
					font-size: 0.75rem;

					@include desktop-small {
						font-size: 0.875rem;
					}

					.key {
						text-transform: uppercase;
						padding-right: 0.125rem;

						@include desktop-small {
							display: block;
						}

						@include desktop-medium {
							display: inline;
						}
					}
				}

				.time {
					text-transform: uppercase;
				}
			}
		}
	}
}