aside.sidebar {
	padding-top: 4rem;
	padding-bottom: 4rem;

	@include desktop-small {
		padding-top: 0;
		grid-column: 11 / span 3;
	}

	.contact-us {
		border: 0.25rem solid $black;
		padding: 2rem 1rem;
		margin-top: 2rem;

		.headline {
			padding-bottom: 0.5rem;
		}

		.email,
		.phone {
			padding-top: 1.5rem;
			strong {
				display: block;
			}
		}
	}
}